<section id="img">
  <div class="center toptxt">Odpočet Příjmaček</div>
  <div class="table">
    <div>
      <p id="datetime" class="center">
        <span aria-label="Měsíce">{{ months }}</span>:<span aria-label="Dny">{{ days }}</span>:<span aria-label="Hodin">{{ hours }}</span>:<span aria-label="Minut">{{ minutes }}</span>:<span aria-label="Sekund">{{ seconds }}</span>:<span aria-label="Milisekund">{{ milliseconds }}</span>
      </p>
      <p id="destext" class="center">{{text}}</p>
    </div>
  </div>
</section>
